from bspider.debug import Debuger
from bspider.http import Request


class Debug(Debuger):
    """
    Debuger 会下载debug_request解析出的新连接，用以尽可能模拟线上运行时
    """
    # 最大下载次数 下载超过此数量个 Request 调试进程会终止
    max_follow_url_num = 10

    start_request = Request(
        url='debug_url',
        method='GET|POST|PUT...',
    )


if __name__ == '__main__':
    Debug().start()
