{
  "downloader": {
    "middleware": ["DemoMiddleware"],
    "settings": {
      "PROJECT_NAME": "${project_name}",
      "RETRY_TIMES": 3,
      "ACCEPT_RESPONSE_CODE": []
    }
  },
  "parser": {
    "pipeline": ["DemoExtractor", "DemoPipeline"],
    "settings": {
      "PROJECT_NAME": "${project_name}"
    }
  }
}