# Automatically created by: bspider startplatform
# a bspider platform sign

[settings]
# 自定义的cmd命令
default = ${platform_name}.config.frame_settings
# custom_command_pkg = 'platform_name.custom_pkg'

[deploy]
platform = ${platform_name}
path = ${platform_path}
