import gevent.monkey
gevent.monkey.patch_all()
loglevel = '${log_level}'
bind = '${agent_ip}:${agent_port}'
pidfile = '${platform_path}/cache/agent_gunicorn.pid'
workers = 1
worker_connections = 2000
worker_class = 'gevent'
x_forwarded_for_header = 'X-FORWARDED-FOR'